{% extends 'blog/base.html' %}
{ % load static %}
{% block content %}
<div class="col-sm-10">
     <h3 class="text-white my-5">About Page</h3>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem ad at tempore earum nisi maiores velit, 
        accusantium quo in eos saepe corrupti vel consequuntur itaque nesciunt atque autem odit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sequi doloremque nobis 
            pariatur enim minus nulla numquam suscipit, saepe temporibus perspiciatis.
            Fuga atque ducimus nobis neque iusto consequatur impedit autem.</p>
</div>

{% endblock content %}